
/* CHiPSET header logo and text */

.header_left_logo>.logo_text{
    color: #000 !important;
    font-size: x-large;
}

/* Footer text */
.widget_text>p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.widget-title{
    text-align: center;
}

.list-unstyled>.media{
    padding-left: 15px;
}

/* Image hover feature */

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease-out;
    background: linear-gradient(120deg, #f5b609, #141414);
}

.profile_image_hover:hover .overlay{
    opacity: 0.96;
    transform: scale(1.5);
}

.overlay-text h3{
    color: rgb(255, 255, 255) !important;
    font-family: 'Langar', cursive;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.big_on_hover{
    transition: width, height;
    transition: 0.5s ease-out;
    box-shadow: 5px 10px 8px #888888;
}

.big_on_hover:hover{
    width: 105%;
    height: 105%;
    transform: translate3d(-10px, -10px, 10px);
}

/* Social Media Icons */

.fa-linkedin-in, .fa-github, .fa-twitter, .fa-facebook, .fa-instagram{
    padding-right: 20px;
    margin-left: 10px;
}

.fa-linkedin-in:hover{
    color: #0e76a8 !important;
    transition: 0.5s ease-out;
    text-shadow: 10px 10px 10px rgb(90, 90, 90);
    transform: translate(-5px, -5px);
}

.fa-github:hover{
    color: #000 !important;
    transition: 0.5s ease-out;
    text-shadow: 10px 10px 10px rgb(90, 90, 90);
    transform: translate(-5px, -5px);
}

.fa-twitter:hover{
    color: #1da1f2 !important;
    transition: 0.5s ease-out;
    text-shadow: 10px 10px 10px rgb(90, 90, 90);
    transform: translate(-5px, -5px);
}

.fa-facebook:hover{
    color: #4267B2 !important;
    transition: 0.5s ease-out;
    text-shadow: 10px 10px 10px rgb(90, 90, 90);
    transform: translate(-5px, -5px);
}

.fa-instagram:hover{
    color: #8a3ab9 !important;
    transition: 0.5s ease-out;
    text-shadow: 10px 10px 10px rgb(90, 90, 90);
    transform: translate(-5px, -5px);
}

/* Year heading */

.container .row .text-center h2, .container .row .text-center h2 sup{
    font-size: 60px;
    font-family: 'Black Ops One', cursive;
    color: #000;
    text-shadow: 5px 5px 5px #ffe;
}

.container .row .text-center h2 sup{
    font-size: 45px;
}

.page_breadcrumbs.background_cover{
    background-color: rgb(255, 255, 255);
    background-image: url('../images/bb1.png');
}

/* */

.hidden_text{
    display: none;
    font-family: 'Langar', cursive;
    font-size: 25px !important;
    font-weight: 700;
}

@media (min-width: 100px) and (max-width: 450px){
    
    .section_padding_top_40>[class*="container"]{
        padding-top: 10px;
    }

    .section_padding_bottom_40>[class*="container"]{
        padding-bottom: 0px ;
    }

    .container .row .text-center h2{
        font-size: 40px;
    }

    .container .row .text-center h2 sup{
        font-size: 25px;
    }

    .col-xs-10{
        margin: auto auto;
    }

    .hidden_text{
        display: block;
    }

    .overlay{
        background: transparent;
    }

    .overlay-text>h3{
        display: none;
    }

    .big_on_hover:hover{
        transform: none;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 451px) and (max-width: 766px){
    .col-xs-10{
        margin: auto auto;
    }

    .hidden_text{
        display: block;
    }

    .overlay{
        background: transparent;
    }

    .overlay-text>h3{
        display: none;
    }

    .big_on_hover:hover{
        transform: none;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 767px) and (max-width: 960px){
    .hidden_text{
        display: block;
    }

    .overlay{
        background: transparent;
    }

    .overlay-text>h3{
        display: none;
    }

    .big_on_hover:hover{
        transform: none;
        width: 100%;
        height: 100%;
    }

    .container .row .text-center h2{
        font-size: 50px;
    }

    .container .row .text-center h2 sup{
        font-size: 35px;
    }

    .section_padding_top_40>[class*="container"]{
        padding-top: 20px;
    }

    .section_padding_bottom_40>[class*="container"]{
        padding-bottom: 10px ;
    }

}

@media (min-width: 961px) and (max-width: 1100px){
    .overlay .overlay-text>h3{
        font-size: 23px;
    }

    .section_padding_top_40>[class*="container"]{
        padding-top: 25px;
    }

    .section_padding_bottom_40>[class*="container"]{
        padding-bottom: 15px ;
    }

    .container .row .text-center h2{
        font-size: 60px;
    }

    .container .row .text-center h2 sup{
        font-size: 45px;
    }
}

@media (min-width:1101px) and (max-width: 1800px){
    .overlay .overlay-text>h3{
        font-size: 30px;
    }

    .section_padding_top_40>[class*="container"]{
        padding-top: 35px;
    }

    .section_padding_bottom_40>[class*="container"]{
        padding-bottom: 25px ;
    }

    .container .row .text-center h2{
        font-size: 75px;
    }

    .container .row .text-center h2 sup{
        font-size: 60px;
    }
}
